header {
    padding: auto;
    border-radius: 20px;
    background-color: green;
}

h1 {
    position: relative;
    left: 15px;
    color: white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1:hover{
    color: blanchedalmond;
}

header .search{
    position: relative;
    margin: 10px;
    margin-top: auto;
    right: auto;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

header .button {
    position: relative;
    margin-top: 10px;
    margin-left: -5px;
    padding: 10px;
    background-color: red;
    color: white;
    border: red;
    border-radius: 15px;
}

input[type="text"] {
    color: blue;
}

form p > label {
    display: inline-block;
    width: 100px;
}

form input[type="text"]{
    padding: 10px;
}

form input[type="text"], form textarea {
    border-radius: 5px;
    border: 2px solid #197a43;
}

fieldset {
    color: rebeccapurple;
}

.submit {
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
}

